.principal_container{
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5vh;
  margin: 3vh 0 ;
}

.container{
  display: flex;
  border: solid 0.6vh hsl(182, 98%, 30%);
  flex-direction: column;
  width: 80%;
  border-radius: 1vw;
  color: hsl(182, 98%, 30%);
  margin: 1vw;
  align-items: center;
  font-size: 3vh;
  padding: 2vh;
  background-color: white;
}



.title{
  color:white;
  margin: 2vh;
  height: 100%;
  border-radius: 2vh;
  background-color: #094293;
}



.slogan{
  width: 40%;
  color:hsl(182, 98%, 30%);
  height: 100%;
  border-radius: 2vh;
  background-color: #ffffff;
  text-align: center;
  font-size: 6vh;
}

.ico{
  border: 0.8vh solid #098e93;
  border-radius: 5vh;
  width: 10%;
  margin-bottom: 2vh;
}

@media screen and (max-width:600px) {

.principal_container{
  padding: 0.5vh;
  width: 99%;
  margin: 0;
}

  .title{
    padding: 1vh;
    width: 100%;
    margin: 1vh;
  }

  .ico{
    border: 0.8vh solid #098e93;
    border-radius: 5vh;
    width: 40%;
    margin-bottom: 2vh;
  }

  .container{
    width: 95%;
  }

  .slogan{
    width: 100%;
    border-radius: 1vh;
    padding: 0.5vh;
    margin: 1vh auto;
  }
}