.icon{
  border-radius: 0.2vw;
  width: 2vw;
  height: 4vh;
  margin-right: 0.4vw;
  margin-top: 2.6vh;
}

.iconn{
  border-radius: 0.2vw;
  width: 4vw;
  margin: 0;
}

.sn{
  font-size: 4vh;
  margin-top: 1vh;
}

.footerr{
  display: flex;
  flex-direction: column;
  width: 20%;
}

.wnumero{
  display: flex;
  width: 100%;
}

.whats{
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.2vw;
}

.logoWhatss{
  width: 5vh;
  height: 5vh;
  border-radius: 1.5vh;
}

@media screen and (max-width:500px){
  .icon{
    height: 3vh;
    width: 6vw;
    margin-top: 2.2vh;
  }

  .logoWhatss{
    margin-left: 1vh;
    width: 8vh;
    border-radius: 2.5vh;
  }

  .logosfaceinsta{
    width: 8vh;
  }

  .redesSocialesContainer{
    justify-content: space-between;
    width: 50%;
  }
  
 .numeroWhatss{
  width: 8vh;
 }
  .sn{
    height: 4vh;
    width: 22vh;
    font-size: 3vh;
    text-align: justify;
    margin: 0 2vh;
  }

  .footerr{
    width: 100%;
  }
}