:root{
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 110vw;
  overflow-x: hidden;
  margin: 0;
}

button{
  color:transparent;
  background-color:transparent;
  border: transparent;
  position: absolute;
}

body {
  background-color: white;
  color: black;

}

a{
  text-decoration: none;
  color:white;
  text-align: center;
  width: 100%;
}

li{
  font-size: 4vh;
  margin: 1vh 0 1vh 0;
}

header {
  background-color:#094293;
  padding: 1vw;
  font-size: 4vh;
  color: rgb(201, 194, 194);
}

footer{
  display: flex;
  flex-direction: row;
  background-color: #094293;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}


@media screen and (max-width:600px){
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    background-color: #094293;
    color: white;
    position: relative;
    font-size: 3vh;
    border: solid 2px white;
    border-radius: 1vh;
  }
 
 a{
    font-size: 6vh;
  }


  li{
    font-size: 3vh;
  }

  p{
    color: #094293;
    border: 0.5vh solid #094293;
    border-radius: 2vh;
    width: 98%;
  }

  h3 {
    font-size: 100%;
    color: white;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    
  }
}

