:root{
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 110vw;
  overflow-x: hidden;
  margin: 0;
}

button{
  color:transparent;
  background-color:transparent;
  border: transparent;
  position: absolute;
}

body {
  background-color: white;
  color: black;
}

a{
  text-decoration: none;
  color:white;
  text-align: center;
}

li{
  font-size: 4vh;
  margin: 1vh 0 1vh 0;
}

header {
  background-color:#094293;
  padding: 1vw;
  font-size: 4vh;
  color: rgb(201, 194, 194);
}

header>a{
  margin: 2vh auto;
}

header>button{
  margin-bottom: 1vh;
}

footer{
  display: flex;
  text-align: start;
  flex-direction: row;
  background-color: #094293;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
}

footer > a{
  width: 5vh;
}



@media screen and (max-width:600px){
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    background-color: hsl(215, 100%, 83%);
    color: #094293;
    position: relative;
    font-size: 3vh;
    border: solid 2px #ffffff;
    border-radius: 1vh;
    padding:1vh 2vh;
    width: 100%;
    font-size: 5vh;
  }

  button:hover{
    background-color: #094293;
    color: white;
    border: solid 2px white;
  }
 
  header>a{
    font-size: 8vh;
    margin: 1vh 2vh;
    border-radius: 0;
  }

  header>div{
    display: flex;
    align-items: center;
    align-content: center;
    padding: 1vh;
  }

  header>div>h3{
    margin:1vh 2vh;
    font-size: 5vh;
  }


  li{
    font-size: 3vh;
  }

  p{
    color: #094293;
    border: 0.5vh solid #094293;
    border-radius: 2vh;
    width: 98%;
  }

  h3 {
    font-size: 100%;
    color: white;
  }

  footer {
    display: flex;
    width: 100%;
    
  }
}

