.container{
  display: flex;
  flex-direction: column;
 text-align: center;
 align-items: center;
}

.container_logo_name{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}


.imgLogo{
  width: 8vw;
  height: 15vh;
  border-radius: 50%;
  padding: 0;
  background-color: rgb(255, 255, 255);
  margin: 0.5;
}



.title{
  margin-top: 1.1vw;
  margin-right: 1vw;
  color:#094293;
  font-family:sans-serif;
  font-weight: 6vw;
  font-size: 4vw;
}

.maves{
  background-color:#094293;
  border: 0.2vh solid black;
  height: 2.8vw;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}

.maves::-webkit-scrollbar {
  width: 4vw;     /* Tamaño del scroll en vertical */
  height: 4vh;    /* Tamaño del scroll en horizontal */
}

.maves::-webkit-scrollbar-thumb {
  background: #170b66;
  border-radius: 1vh;
}


.ico{
  margin:0.2vw;
  width: 2.4vw;
  height: 2.4vw;
  background-color: white;
  padding: 0;
  border-radius: 50%;
}

.links{
  color:rgb(255, 255, 255);
  font-size: 1.5vw;
  border-radius: 0.4vw;
  padding:0.2vh;
  text-decoration: none;
  width: 12vw;
  margin: 0.3vw 0.4vw 0 0.4vw;
  height: 2vw;

}

.links:hover{
  color: rgb(255, 255, 255);
}

.marcas{
  margin-top: 2vh;
}

@media screen and (max-width:600px){

.container_logo_name{
  display: flex;
  flex-direction: column;
}

.marcas{
  margin: 1vh;
  width: 98%;
  height: 20vh;
}

.imgLogo{
  width: 100%;
  border: 0.2vw solid #094293;
  border-radius: 1vh;
  margin: 1vh;
}

.links{
  flex-wrap: wrap;
  align-content: center;
  height: 2vh;
  font-size: 5vh;
  width: 85%;
  align-items: center;
  margin: 1vh 0 3vh 0;
}

.maves{
  border: 0.2vh solid white;
  border-radius: 1vh;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  height: 8vh;
  width: 90%;
  text-align: center;
  justify-content: start;
}


}