.container{
  border: 0.2vh solid #181ba2;
  align-items:center ;
  align-content: center;
  text-align: center;
}

.AppClientesOmega{
  border-radius: 1vh;
  border: #181ba2 1px solid;
  color: #181ba2;
}

.AppClientesOmega:hover{
  color: white;
  background-color: #181ba2;
}


@media screen and (max-width:600px){
  .container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}